@charset "utf-8";
/* CSS Document */

/*Font size of booking details */


/*Font size of room or asset name */
.bs-item-text {
font-size: 1.6rem!important;
}

.bs-item {
background-color: #f9f9f9 !important;
}
/*.bs-chart-item {
background-color: #dbf0c7 !important;
}
*/

.bs-booking-node{ 
background-color: #ff9999 !important;
font-size: 28px !important;
}
