@charset "utf-8";
/* CSS Document */

/*Font size of room or asset name */
.bs-item-text {
font-size: 1.6rem!important;
}

/*fix the colour and width of the room name cell - width needs customisation for each board */
.bs-item {
background-color: #f9f9f9 !important;
width: 300px !important;   
}

/* not used
.bs-chart-item {
background-color: #dbf0c7 !important;
}
*/

.bs-booking-node{ 
background-color: #ff9999 !important;
font-size: 28px !important;
}
